@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  line-height: 1.5;
}

.container {
  color: #333;

  & h2 {
    color: red;

    @apply text-3xl;
  }
}
